@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    background: radial-gradient(ellipse at bottom, #1b2735 0%,#090a0f 100%);
    overflow-x: hidden;
}

body a {
    text-decoration: none;
}

.topnav{
    position: fixed;
    width: 100%;
    background-color: #fff;
    z-index: 1;
    height: 100px;
    top: 0;
    overflow: hidden;
    right: 0;
    display: flex;
    justify-content: center;
}

.img-logo{
    max-width: 100%;
    width: 540px; 
}

.infinitus{
    position: relative;
    display: flex;
    justify-content: center;
}

.infinitus-logo {
    max-width: 100%;
    width: 500px; 
    margin-top: 200px;

  }

.countdown{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: -10px;
    font-family:'Gotham Black', sans-serif;
    margin-left: 10px;
    font-weight: 1000;

}

.countdown div{
    color: #fff;
    flex-basis: 100px;
}

.countdown div p {
    font-size: 60px;
    margin-bottom: 0px;
    margin-left: 20px;
}

.countdown div span{
    padding-left: 25px;
}

#day{
    background-image: linear-gradient(
  180deg,
  hsl(0deg 100% 60%) 0%,
  hsl(6deg 100% 59%) 10%,
  hsl(12deg 100% 57%) 20%,
  hsl(18deg 100% 56%) 30%,
  hsl(24deg 100% 55%) 40%,
  hsl(30deg 100% 54%) 50%,
  hsl(36deg 100% 52%) 60%,
  hsl(42deg 100% 51%) 70%,
  hsl(48deg 100% 50%) 80%,
  hsl(54deg 100% 48%) 90%,
  hsl(60deg 100% 47%) 100%
);
background-size: auto auto;
background-clip: border-box;
background-size: 200% auto;
color: #fff;
background-clip: text;
text-fill-color: transparent;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

#hour{
    background-image: linear-gradient(
  180deg,
  hsl(60deg 100% 47%) 0%,
  hsl(64deg 100% 49%) 10%,
  hsl(67deg 100% 51%) 20%,
  hsl(71deg 100% 53%) 30%,
  hsl(74deg 100% 55%) 40%,
  hsl(78deg 100% 56%) 50%,
  hsl(82deg 100% 58%) 60%,
  hsl(85deg 100% 60%) 70%,
  hsl(89deg 100% 62%) 80%,
  hsl(92deg 100% 64%) 90%,
  hsl(96deg 100% 66%) 100%
);
background-size: auto auto;
background-clip: border-box;
background-size: 200% auto;
color: #fff;
background-clip: text;
text-fill-color: transparent;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

#min{
    background-image: linear-gradient(
  180deg,
  hsl(96deg 100% 66%) 0%,
  hsl(104deg 100% 63%) 10%,
  hsl(113deg 100% 61%) 20%,
  hsl(121deg 100% 59%) 30%,
  hsl(130deg 100% 57%) 40%,
  hsl(138deg 100% 55%) 50%,
  hsl(146deg 100% 52%) 60%,
  hsl(155deg 100% 50%) 70%,
  hsl(163deg 100% 48%) 80%,
  hsl(171deg 100% 45%) 90%,
  hsl(180deg 100% 43%) 100%
);
background-size: auto auto;
background-clip: border-box;
background-size: 200% auto;
color: #fff;
background-clip: text;
text-fill-color: transparent;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

#sec{
    background-image: linear-gradient(
  180deg,
  hsl(180deg 100% 43%) 0%,
  hsl(187deg 100% 46%) 10%,
  hsl(195deg 100% 49%) 20%,
  hsl(202deg 100% 52%) 30%,
  hsl(209deg 100% 55%) 40%,
  hsl(217deg 100% 58%) 50%,
  hsl(224deg 100% 61%) 60%,
  hsl(231deg 100% 65%) 70%,
  hsl(239deg 100% 67%) 80%,
  hsl(246deg 100% 71%) 90%,
  hsl(253deg 100% 74%) 100%
);
background-size: auto auto;
background-clip: border-box;
background-size: 200% auto;
color: #fff;
background-clip: text;
text-fill-color: transparent;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.register{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
}

.register-button {
    align-items: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: 'Crimson Text' , serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 19px 24px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    position: relative;
    text-align: center;
  }
  
.register-button:active,
.register-button:hover {
    outline: 0;
  }

.register-button-2 {
    align-items: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: 'Crimson Text' , sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 19px 24px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    position: relative;
    text-align: center;
    margin-left: 50px;
  }
  
.register-button-2:active,
.register-button-2:hover {
    outline: 0;
  }


.video{
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 100px;
}
.teaser-vid{
    max-width: 100%;
    width: 720px;
}

.main-container{
    padding-top: 100px;
}

.horizontal-container1{
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 100%;
}

.horizontal-container2{
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 100%;
}
.box1-1,
.box2-1,
.box3-1,
.box4-1 {
    padding: 10px;
    max-width: 100%;
    width: 250px;
}

#creative{
    margin-top: 100px;
    position: relative;
    display: flex;
    justify-content: center;
}

#creative-events{
    color: #fff;
    font-size: 50px;
    font-family: 'Crimson Text' , serif;
    font-weight: bold;
}

.pdf{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pdf .pdf-main{
    max-width: 100%;
    width: 800px;
}
@media (max-width: 800px){
	
    .video{
        margin-top: 100px;
    }
	
    .countdown{
        margin-left: 10px;
    }	
}

