@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");
@import url("https://fonts.googleapis.com/css?family=Alegreya Sans SC");


body{
    background-image: linear-gradient(144deg,#00DDEB, #5B42F3 50%,#AF40FF);
    
}
.head{
    position: relative;
    left:50px;
    top:80px;
    text-align:right;
    width: fit-content;
    justify-content: space-between;
    display: flex;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: right;
    margin-top: -30px;
}
.bhavya{
    margin-left: 20px;
    margin-top: 60px;
}
.heading {
    margin-top: 20%;
    font-size: 40px;
      font-weight: bold;
    font-family: Alegreya Sans SC;
    color:#fff;
    transform: scale(2);
    animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
    z-index: 1;
    word-spacing: 3px;
  }
  @keyframes scale {
      100% {
        transform: scale(4);
      }
    }
   .heading span {
      display: inline-block;
      opacity: 0;
      filter: blur(4px);
      z-index: 1;
    }
    
    .heading span:nth-child(1) {
      animation: fade-in 1s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
    }
    
    .heading span:nth-child(2) {
      animation: fade-in 1s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
    }
    
    .heading span:nth-child(3) {
      animation: fade-in 1s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
    }
    
    .heading span:nth-child(4) {
      animation: fade-in 1s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
    }
  
    @keyframes fade-in {
      100% {
        opacity: 1;
        filter: blur(0);
      }
    }
.present{
   
    margin-top: 20%;
  font-size: 70px;
    font-weight: bold;
  font-family: Alegreya Sans SC;
  color:#0000;
  background:
    linear-gradient(270deg,#fff 5px,#0000 0) 10px 0,
    linear-gradient(#fff 0 0) 0 0;
  background-size:calc(var(--n)*1.1ch) 200%;
  -webkit-background-clip:padding-box,text;
  background-clip:padding-box,text;
  background-repeat:no-repeat;
  
  animation: 
    b 2s infinite steps(1),   
    t calc(var(--n)*0.1s) steps(var(--n)) forwards;
    animation-delay: 1.5s;
}

@keyframes t{
  from {background-size:0 200%}
}
@keyframes b{
  50% {background-position:0 -100%,0 0}
}
.infinitus
{
    margin-top: -10px;
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s forwards infinite;
  animation-delay: 3s;
  display: inline-block;
    font-size: 60px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}



.space{
    aspect-ratio: 1500/705;
    width: 101.5%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: -10px;
    margin-top:-55px;
    margin-right: 0px;
}


.curve     {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;               
    line-height: 0;
    
}

.curve svg {
    position: relative;
    display: block;
    width: calc(112% + 1.3px);
    height: 233px;
    
}
.logo{
    position: absolute;
    top: -100px;
    right: -100px;
    z-index: 1;
}
.video{
    position: absolute;
    justify-content: right;
    align-self: right;
    align-content: right;
    right: 10px;
    left: 10px
}

.nav {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    color: white;
    z-index: 1;
    padding-bottom: -100px;
}

.brand-title img{
    width: 100%;
    height: 100px;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: #555;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}


.button-64 {
    align-items: right;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: right;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 19px 24px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    position: relative;
    text-align: right;
    margin-left: 200px;
    margin-top: -76px;

  }
  
  .button-64:active,
  .button-64:hover {
    outline: 0;
  }


  .button-63 {
    align-items: right;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: right;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 19px 24px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    position: relative;
    text-align: right;
    left: 380px;

  }
  
  .button-63:active,
  .button-63:hover {
    outline: 0;
  }
.box{
    border-color: #000;
    height: 100px;
    width: 100px;
    margin-top: 500px;
}



@media (max-width: 800px) {

    body{
        height: 100%;
    }
    .curve{
        display: none;
    }
    .nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }

    .button-63 {
        font-size: 24px;
        min-width: 196px;
      }
    .logo{
        display: none;
    }
    .head{
        left: 20px;
        display: block;
        margin-left: 20px;
        width: 100px;
        text-align: right;
    }
    .bhavya{
        text-align: right;
    }
    .vid{
        width: 400px;
        height: 300px;
    }
}